* {
    padding: 0em;
    margin: 0em;
}

body {
    /*background-color: var(--main-color);*/
    background: url("https://images.wallpapersden.com/image/download/artistic-gradient-blur_63604_1920x1080.jpg") no-repeat;
    display: grid;
    grid-template-rows: auto 1fr 0.4fr auto;
    grid-template-columns: 1fr auto;
    height: 100vh;

}

:root {
    --main-color: #291a1a;
    --nav-color: #5d2a3054;
    --lista-color: #130d0da1;
}

nav {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    z-index: 2;
    background: var(--nav-color);
    padding: 0.5rem;
    color: #fff;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 1.6em;
    height: 3em;
    user-select: none;
}



h1 {
    margin: auto;
    width: 50%;
}

#account {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 0.5em;
    margin-left: -2.5em;
    z-index: 200;
    height: 60px;
    width: 60px;
    grid-row: 1;
}




.accountContainer {
    width: 150px;
    height: 140px;
    background-color:rgba(22, 22, 22, 0.788);
    grid-row: 1;
    margin-top: 3em;
    margin-left: -9em;
    margin-right: 0.1em;
    justify-self: right;
    display: none;
    z-index: 2000;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    line-height: 2em;
    justify-content: center;
}

#account:hover {
    color:rgba(255, 255, 255, 0.479);
    transition-duration: 200ms;
}
.accountContainer a:hover{
    color: rgb(255, 255, 255);
    transition-duration: 200ms;
}
.accountContainer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.822);
    font-family: 'Nunito', sans-serif;
}
#account:focus + .accountContainer {
    display: flex;
    transition-duration: 500ms;
}

.accountContainer:hover{
    display: flex;
}





#accessAccount {
    margin: auto;
    margin-top: 0.5em;
    margin-right: 1em;
    display: block;
    display: flex;

}

#login, #signup{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-style: solid;
    border-radius: 30px;
    padding: 0.5em;
    margin-left: 2em;
    display: block;
}

#name{
    display: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-top: 1em;
    margin-right: 6em;
}



#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 12em;
    height: 100%;
    margin-top: 0em;
    background-color: var(--lista-color);
}

.ul1 {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
}

ul li {
    margin-top: 1em;
    margin-left: 0.5em;
    list-style: none;
    float: left;
    padding: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
}

ul li:hover a {
    color: #fff;
}

.lista {
    margin-bottom: 0em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
}



#player {
    display: flex;
    justify-content: space-between;
    grid-row: 4;
    grid-column-end: 2;
    grid-column-start: 1;
    background-color: #5d2a30c9;
    padding-top: 1em;
}
.wave, .låt2{
    margin-bottom: 0em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
    padding: 0;
    border: none;
    background: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

}

#sidebar ul li a:focus {
    color: rgb(253, 167, 167);
}
#sidebar ul li button:focus {
    color: rgb(253, 167, 167);
}

.featured {
    color:rgb(255, 255, 255);
    text-decoration: underline;
    text-underline-offset: 10px;
    user-select: none;
}

.wave:hover, .btn:hover, .låt2:hover{
    cursor:pointer;
    color:rgb(255, 255, 255);
}

.btn {
    margin-bottom: 0em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
    padding: 0;
    border: none;
    background: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
button:focus{
    outline: none;
}




.songPicWave {
    width: 10em;
    height: 10em;
    margin-bottom: 1em;
    margin-left: 2em;
    display: none;
}

.songPicTrama {
    width: 10em;
    height: 10em;
    margin-bottom: 1em;
    margin-left: 2em;
    display: none;
}



.ljud1 {
    width: 70vw;
    margin-bottom: 1em;
    display: none;
    margin: auto;
    
}

.ljud2 {
    width: 70vw;
    margin-bottom: 1em;
    display: none;
    margin: auto;
}

.info {
    width: 60vw;
    height: 30em;
    background-color: none;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    margin-left:10em;
    margin-top: 10em;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.box {
    width: 60vw;
    height: 40em;
    z-index: -100;
    margin-bottom: -30em;
    background-color: rgba(3, 3, 3, 0.658);
    display: none;
}

#infoSongName {
    color:rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
    user-select: none;
}
#infoArtistName{
    color:rgba(255, 255, 255, 0.9);
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-weight: 100;   
    user-select: none;

}
#infoSongLength {
    color:rgb(255, 255, 255, 0.9);
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 15px;
    user-select: none;

}

.aboutPicWave { 
    width: 18em;
    height: 18em;
    margin-top: 1em;
    border-style:double;
    border-width: 0.3em;
    border-color:rgb(255, 255, 255, 0.2);
    display: none;
}

.aboutPicTrama { 
    width: 18em;
    height: 18em;
    margin-top: 1em;
    border-style:double;
    border-width: 0.3em;
    border-color:rgb(255, 255, 255, 0.2);
    display: none;
}




/* ------ artist page ---------*/
.artistSongPic {
    width: 20em;
    height: auto;
    margin-left: 20em;
    margin-top: 2em;
}
#artistName {
    color:rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    justify-content: center;
    margin-top: 1em;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    user-select: none;
}


.artistContainer {
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    grid-row: 1;
    display: none;
}


.songArtistWave, .songArtistLåt2{
    font-size: 20px;
    color:rgb(255, 255, 255);
    padding: 0.2em;
    background: none;
    border: none;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.songArtistWave {
    margin-top: 20em;
    margin-left: -20em;
    flex-direction: column;
}
.songArtistLåt2 {
    margin-top: 23em;
    margin-left: -20em;
    flex-direction: column;
}
li{
    list-style: none;
}

.hide {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.116);
    align-self: left;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    height: 100px;
    border-style: outset;
    border-radius: 1em;
    border-color:rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    margin-top: 1em;
    margin-right: 1em;
}

.hide:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 200ms;
}



/*-----------SETTINGS CSS----------------*/
.settingsContainer{
    width: 70vw;
    height: 100vh;
    background-color: rgba(53, 53, 53, 0.726);
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#settingsHeader {
    color: #fff;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 90px;
    text-align: center;
    margin-top: 0em;
}


